{% extends 'layout.html' %}
{% load static %}

{% block title %}Contact{% endblock title %}

{% block content %}
<!-- Contact Form -->
<div id="contact" class="container-fluid pt-5">
    <div class="row rounded mx-auto mt-5 py-5">
        <div class="col col-sm-12 col-md-7 col-lg-5 col-xl-4 mx-auto bg-secondary rounded py-3">
            <h1 class="text-center">LET&apos;S CONNECT</h1>
            <p class="text-center fw-bold">Have a question or want to work together? <br>I&apos;d love to hear from you. <br>Fill out the form below or email me at <a href="mailto:{{ email }}">{{ email }}</a>.</p>
            <form action="/contact/" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group p-1">
                        {{ field.errors }}
                        <label class="" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="input-group">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                <button type="submit" class="button-contact">
                    <div class="button-contact-inside">
                        <h1>SUBMIT</h1>
                    </div>
                </button>
            </form>
        </div>
    </div>
</div>
<!-- End Contact Form -->
{% endblock content %}