{% extends 'layout.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center text-light">
    <div class="hero-container" data-aos="fade-in">
      <h1>Hamad Hamdi</h1>
    </div>
    <div class="hero-container text-light" data-aos="fade-in">
      <p class="fs-1"><span class="typed" data-typed-items=" Software Developer, M.L. Engineer, A.I. Enthusiast, Futuristic Dreamer"></span></p>
    </div>
</section>
<!-- End Hero -->
{% endblock content %}