{% extends 'layout.html' %}
{% load static %}

{% block title %}Interests{% endblock title %}

{% block content %}
<div id="inter_test" class="container-fluid m-0 p-0 overflow-hidden">
  <section id="interests" class="interests text-light">
    <div class="container my-5 p-5" style="--bs-bg-opacity: .2;">
      <div class="section-title">
        <h2>Interests</h2>
      </div>
      <div class="row mx-auto">
        <div class="col-md-6">
          <div class="img-box">
            <img id="on" class="img-fluid mx-auto" src="{% static 'img/ham_on_crop.png' %}" alt="" style="max-height: 50vh; display: none;">
            <img id="off" class="img-fluid mx-auto" src="{% static 'img/ham_off_crop.png' %}" alt="" style="max-height: 50vh; display: block;">
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'img/circle.png' %}" alt="Technology Circle" class="img-fluid">
            <a type="button" onclick="toggleImages()" class="position-absolute top-50 start-50 translate-middle">
              <span>
                
                  <i class="fa-regular fa-circle-play fa-beat" style="color: #05edfc; --fa-animation-duration: 1.5s;"></i>
                
              </span>
              <span class="border-animation border-animation--border-1"></span>
              <span class="border-animation border-animation--border-1"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  function toggleImages() {
    var onImage = document.getElementById("on");
    var offImage = document.getElementById("off");
    
    if (onImage.style.display === "none") {
      onImage.style.display = "block";
      offImage.style.display = "none";
      playAudio("intro"); // Play the intro audio
    } else {
      onImage.style.display = "none";
      offImage.style.display = "block";
      playAudio("outro"); // Play the outro audio
    }
  }

  function playAudio(audioType) {
    var audioFile;
    if (audioType === "intro") {
      audioFile = new Audio('{% static "audio/ham_audio.mp3" %}');
    } else if (audioType === "outro") {
      audioFile = new Audio('{% static "audio/goodbye.mp3" %}');
    }
    audioFile.play();
  }
</script>
{% endblock content %}